<footer class="footer-section">
  <div class="container footer-content">
    <div class="footer-logo-ul">
      <h2 class="footer-logo">
        LLOYD<span class="footer-logo-highlight">JEFFERSON.</span>
      </h2>
      <ul class="footer-ul">
        <li class="footer-li">
          <a class="footer-link" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li class="footer-li">
          <a class="footer-link" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li class="footer-li">
          <a class="footer-link" target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a>
        </li>
        <li class="footer-li">
          <a class="footer-link" target="_blank" href="https://github.com/trisher1985/project-group-02.git">GitHub</a>
        </li>
      </ul>
    </div>
    <p class="copyright-text">&copy; Copyright 2025. Made by LloydJefferson</p>
  </div>
</footer>