<section class="header-section">
    <div class="header-container container">
        <a href="./index.html" class="header-logo">LLOYD<span class="header-logo-highlight">JEFFERSON.</span>
        </a>

        <div class="header-right-items">
            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="theme-switch">
                    <span class="slider round"></span>
                </label>
            </div>
            <nav class="header-navigation">
                <ul class="header-nav-page-list">
                    <li class="header-nav-page-item">
                        <a href="./index.html#about-me" class="header-nav-page-link">About me</a>
                    </li>
                    <li class="header-nav-page-item">
                        <a href="./index.html#projects" class="header-nav-page-link">Projects</a>
                    </li>
                    <li class="header-nav-page-item">
                        <a href="./index.html#contact" class="header-nav-page-link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <button class="btn-order">
                <a class="btn-order-link" href="./index.html#contact">ORDER THE PROJECT</a>
            </button>
            <button class="btn-burger" data-mobile-open>
                <svg class="burger-icon" width="32" height="32">
                    <use href="/img/header/icons.svg#icon-burger"></use>
                </svg>
            </button>
        </div>
    </div>

    <!-- mobile menu -->
    <div class="header-menu " data-mobile>
        <div class="menu-logo-btn">
            <a href="./index.html" class="header-logo-menu">LLOYD<span
                    class="header-logo-highlight-menu">JEFFERSON.</span>
            </a>
            <button class="btn-close-menu" data-mobile-close>
                <svg class="close-icon" width="32" height="32">
                    <use href="/img/header/icons.svg#icon-close-btn"></use>
                </svg>
            </button>
        </div>

        <ul class="menu-ul">
            <li class="menu-li">
                <a href="./index.html#about-me" class="menu-link">About me</a>
            </li>
            <li class="menu-li">
                <a href="./index.html#projects" class="menu-link">Projects</a>
            </li>
            <li class="menu-li">
                <a href="./index.html#contact" class="menu-link">Contacts</a>
            </li>
        </ul>


        <button class="btn-order-menu">
            <a class="btn-order-link-menu" href="./index.html#contact">ORDER THE PROJECT</a>
        </button>

        <div class="bottom-peace">
            <ul class="menu-contact-ul">
                <li class="menu-contact-li">
                    <a href="https://www.instagram.com/goitclub/" target="_blank"
                        class="hero-contact-link">Insragram</a>
                </li>
                <li class="menu-contact-li">
                    <a href="https://www.facebook.com/goITclub/" target="_blank" class="hero-contact-link">Telegram</a>
                </li>
                <li class="menu-contact-li">
                    <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
                        class="hero-contact-link">Linkedin</a>
                </li>
                <li class="menu-contact-li">
                    <a href="https://github.com/trisher1985/project-group-02.git" class="hero-contact-link">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</section>