<section class="hero-section">
    <div class="hero-container container">
        <picture class="developer-pic">
            <source media="(min-width: 1280px)"
                srcset="/img/hero/hero-decor-bg-pc-1x.png 1x, /img/hero/hero-decor-bg-pc-2x.png 2x">
            <source media="(min-width: 768px)"
                srcset="/img/hero/hero-decor-bg-tablet-1x.png 1x, /img/hero/hero-decor-bg-tablet-2x.png 2x">
            <source media="(max-width: 767px)"
                srcset="/img/hero/hero-decor-bg-mobile-1x.png 1x, /img/hero/hero-decor-bg-mobile-2x.png 2x">
            <img src="/img/hero/hero-decor-bg-pc-1x.png" alt="decor" class="hero-decor">
        </picture>

        <h1 class="hero-title">HELLO, I AM <span class="hero-title-highlight">FULLSTACK DEVELOPER</span></h1>

        <picture class="developer-pic">
            <source media="(min-width: 1280px)"
                srcset="/img/hero/developer-pc-1x.png 1x, /img/hero/developer-pc-2x.png 2x">
            <source media="(min-width: 768px)"
                srcset="/img/hero/developer-tablet-1x.png 1x, /img/hero/developer-tablet-2x.png 2x">
            <source media="(max-width: 767px)"
                srcset="/img/hero/developer-mobile-1x.png 1x, /img/hero/developer-mobile-2x.png 2x">
            <img src="/img/hero/developer-pc-1x.png" alt="Lloyd Anderson" class="lloyd-image">
        </picture>

        <ul class="hero-contact-ul">
            <li class="hero-contact-li">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="hero-contact-link">Insragram</a>
            </li>
            <li class="hero-contact-li">
                <a href="https://www.facebook.com/goITclub/" target="_blank" class="hero-contact-link">Telegram</a>
            </li>
            <li class="hero-contact-li">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
                    class="hero-contact-link">Linkedin</a>
            </li>
            <li class="hero-contact-li">
                <a href="https://github.com/trisher1985/project-group-02.git" target="_blank"
                    class="hero-contact-link">GitHub</a>
            </li>
        </ul>

        <div class="hero-bottom-peace">
            <p class="hero-bottom-peace-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE <span
                    class="hero-bottom-peace-text-highlight">IMPRESSIVE</span> AND <span
                    class="hero-bottom-peace-text-highlight">FUNCTIONAL
                    WEBSITES</span> THAT REFLECT EACH CLIENT’S UNIQUE
                PERSONALITY.</p>
        </div>
    </div>
</section>