<section class="section-projects" id="projects">
  <div class="container">
    <h2 class="title-my">MY <span class="title-projects">PROJECTS</span></h2>
    <ul class="list-projects">
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-nine-desktop.jpg    1x,
                /img/images-my-projects/project-nine-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-nine-tablet.jpg    1x,
                /img/images-my-projects/project-nine-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-nine-mobile.jpg    1x,
                /img/images-my-projects/project-nine-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-nine-desktop.jpg"
              alt="project-nine"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">WALLET WEBSERVICE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-eight-desktop.jpg    1x,
                /img/images-my-projects/project-eight-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-eight-tablet.jpg    1x,
                /img/images-my-projects/project-eight-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-eight-mobile.jpg    1x,
                /img/images-my-projects/project-eight-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-eight-desktop.jpg"
              alt="project-eight"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">GREEN HARVEST WEBSERVICE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-ten-desktop.jpg    1x,
                /img/images-my-projects/project-ten-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-ten-tablet.jpg    1x,
                /img/images-my-projects/project-ten-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-ten-mobile.jpg    1x,
                /img/images-my-projects/project-ten-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-ten-desktop.jpg"
              alt="project-ten"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">ENGLISH EXCELLENCE WEBSITE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-seven-desktop.jpg    1x,
                /img/images-my-projects/project-seven-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-seven-tablet.jpg    1x,
                /img/images-my-projects/project-seven-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-seven-mobile.jpg    1x,
                /img/images-my-projects/project-seven-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-seven-desktop.jpg"
              alt="project-seven"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">STARLIGHT STUDIO LANDING PAGE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-six-desktop.jpg    1x,
                /img/images-my-projects/project-six-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-six-tablet.jpg    1x,
                /img/images-my-projects/project-six-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-six-mobile.jpg    1x,
                /img/images-my-projects/project-six-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-six-desktop.jpg"
              alt="project-six"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">FRUITBOX ONLINE STORE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-five-desktop.jpg    1x,
                /img/images-my-projects/project-five-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-five-tablet.jpg    1x,
                /img/images-my-projects/project-five-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-five-mobile.jpg    1x,
                /img/images-my-projects/project-five-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-five-desktop.jpg"
              alt="project-five"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">ENERGY FLOW WEBSERVICE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-four-desktop.jpg    1x,
                /img/images-my-projects/project-four-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-four-tablet.jpg    1x,
                /img/images-my-projects/project-four-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-four-mobile.jpg    1x,
                /img/images-my-projects/project-four-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-four-desktop.jpg"
              alt="project-four"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">CHEGO JEWERLY WEBSITE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-three-desktop.jpg    1x,
                /img/images-my-projects/project-three-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-three-tablet.jpg    1x,
                /img/images-my-projects/project-three-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-three-mobile.jpg    1x,
                /img/images-my-projects/project-three-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-three-desktop.jpg"
              alt="project-three"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">VYSHYVANKA VIBES LANDING PAGE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-two-desktop.jpg    1x,
                /img/images-my-projects/project-two-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-two-tablet.jpg    1x,
                /img/images-my-projects/project-two-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-two-mobile.jpg    1x,
                /img/images-my-projects/project-two-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-two-desktop.jpg"
              alt="project-two"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">MIMINO WEBSITE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="item-projects">
        <div class="picture-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/images-my-projects/project-one-desktop.jpg    1x,
                /img/images-my-projects/project-one-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/images-my-projects/project-one-tablet.jpg    1x,
                /img/images-my-projects/project-one-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/images-my-projects/project-one-mobile.jpg    1x,
                /img/images-my-projects/project-one-mobile@2x.jpg 2x
              "
            />

            <img
              class="portfolio-project"
              src="/img/images-my-projects/project-one-desktop.jpg"
              alt="project-one"
              width="1008"
              height="580"
            />
          </picture>
        </div>
        <div class="info-container">
          <p class="text-info">React, JavaScript, Node JS, Git</p>
          <div class="title-wrap">
            <h3 class="title-info">POWER PULSE WEBSERVICE</h3>
            <a
              href="https://github.com/trisher1985/project-group-02"
              class="btn-info"
              target="_blank"
              >VISIT
              <svg class="icon-arrow" width="15" height="15">
                <use
                  href="/img/images-my-projects/sprite.svg#icon-arrow-btn"
                ></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <button class="load-btn" type="button"><span>LOAD MORE</span></button>
  </div>
</section>
