<section class="reviews section">
  <div class="reviews-wrapper container">
    <h2 class="section-title reviews-title">Reviews</h2>

    <div class="reviews-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="js-notify notify hide">No found</div>
    </div>
    <div class="reviews-buttons">
      <button
        class="reviews-buttons-item reviews-prev-btn"
        type="button"
        aria-label="Previous slide"
      >
        <img src="./img/reviews/arrow-narrow-right.svg" alt="Arrow left" />
      </button>
      <button
        class="reviews-buttons-item reviews-next-btn"
        type="button"
        aria-label="Next slide"
      >
        <img src="./img/reviews/arrow-narrow-right.svg" alt="Arrow right" />
      </button>
    </div>
  </div>
</section>
