<section class="reviews section">
  <div class="reviews-wrapper container">
    <h2 class="section-title reviews-title">Reviews</h2>

    <div class="swiper">
      <div class="reviews-swiper swiper-container">
        <ul class="reviews-list swiper-wrapper"></ul>
        <div class="js-notify notify">No found</div>
      </div>
    </div>
    <div class="reviews-buttons hide">
      <button
        class="reviews-buttons-item reviews-prev-btn"
        type="button"
        aria-label="Previous slide"
      >
      
      </button>
      <button
        class="reviews-buttons-item reviews-next-btn"
        type="button"
        aria-label="Next slide"
      >
        ->
      </button>
    </div>
  </div>
</section>
