<!-- <section class="tech-skills-section"> -->
<div class="section skills">
  <h2 class="title hidden"></h2>
  <div class="mask-left"></div>
  <div class="mask-right"></div>
  <div class="wrap">
    <div class="content" id="marquee-content">
      <ul class="skills-list">
        <li class="skills-item">HTML/CSS</li>
        <li class="skills-item">JavaScript</li>
        <li class="skills-item">React</li>
        <li class="skills-item">Node.js</li>
        <li class="skills-item">React Native</li>
        <li class="skills-item">Typescript</li>
      </ul>
    </div>
  </div>

  <div class="wrap angled">
    <div class="content angled" id="marquee-content-angled">
      <ul class="skills-list">
        <li class="skills-item">HTML/CSS</li>
        <li class="skills-item">JavaScript</li>
        <li class="skills-item">React</li>
        <li class="skills-item">Node.js</li>
        <li class="skills-item">React Native</li>
        <li class="skills-item">Typescript</li>
      </ul>
    </div>
  </div>
</div>
<!-- </section> -->