@font-face {
  font-family: 'Impact';
  src: url('fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .container {
  width: 100%;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }
} */

.about-section {
  margin: 0 auto;
  padding: 40px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .about-section {
    width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 62px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    width: 1280px;
    padding: 82px 32px;
    margin: 0 auto;
    display: block;
    align-items: center;
  }
}

.about-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #292929;
}

.useless {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
  align-items: flex-start;
  height: 100%;
}

.about-title-span {
  color: #00b068;
}

.about-picture {
  border-radius: 16px;
  margin-top: 40px;
  width: 100%;
  height: auto;
  max-width: 320px;
}

.about-bio-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-top: 40px;
}

.about-text1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #292929;
  margin-top: 32px;
  /* height: 288px;
  width: 270px; */
  text-align: left;
}

.about-text2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #292929;
  margin-top: 24px;
}

.about-education-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-top: 40px;
}

.about-education-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 20px;
  list-style-type: disc;
}

.about-education-list-point {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #292929;
}

.about-role-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-top: 40px;
}

.about-role-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 20px;
  list-style-type: disc;
}

.about-education-list-point {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #292929;
}

li::marker {
  color: #00b068;
}

.decor-about-me {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }

  .about-section {
    background-size: 336px 252px;
    background-position: 400px 840px;
    /* background-image: url('../img/about-img/bg-pc-1x.webp'); */
    background-position: relative;
    background-repeat: no-repeat;
  }

  .container {
    position: relative;
  }

  .decor-about-me {
    display: block;
    position: absolute;
    top: 856px;
    left: 360px;
    width: 336px;
    height: 252px;
    pointer-events: none;
  }

  .about-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
  }

  .useless {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex-direction: row;
  }

  .about-picture {
    margin-top: 408px;
    width: 100%;
    max-width: 336px;
  }

  .lloyd-pic {
    border-radius: 16px;
    width: 336px;
    height: 392px;
  }

  .about-bio {
    width: 336px;
    height: 680px;
  }

  .about-bio-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
  }

  .about-education {
    align-items: stretch;
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }

  .about-education-div {
    width: 336px;
    height: 280px;
  }

  .about-education-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    margin-top: 60px;
  }

  .about-education-list {
    /* row-gap: 16px; */
  }

  .about-role-div {
    width: 336px;
    height: 280px;
  }

  .about-role-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    padding-top: 20px;
  }

  .about-role-list {
    row-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }

  .about-section {
    width: 1216px;
    background-position: 780px 700px;
    background-size: 384px 288px;
  }

  .useless {
    display: flex;
    gap: 136px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .about-picture {
    border-radius: 16px;
    margin-left: 208px;
    max-width: 384px;
    margin-top: 312px;
  }

  .lloyd-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-bio {
    width: 488px;
    height: 488px;
  }

  .about-bio-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
  }

  .about-text {
    width: 448px;
  }

  .about-education {
    align-items: stretch;
    display: flex;
    gap: 124px;
    align-items: flex-start;
    margin-left: 208px;
  }

  .about-education-div {
    width: 384px;
    height: 280px;
    /* margin-top: 60px; */
  }

  .about-education-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
  }

  .about-education-list {
    /* row-gap: 16px; */
  }

  .decor-about-me {
    display: block;
    position: absolute;
    top: 710px;
    left: 816px;
    width: 336px;
    height: 252px;
    pointer-events: none;
  }

  .about-role-div {
    width: 336px;
    height: 280px;
  }

  .about-role-title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    padding-top: 20px;
  }

  .about-role-list {
    row-gap: 16px;
  }

  li::marker {
    color: #00b068;
  }
}