@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('./fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Impact,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #292929;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: inherit;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  transition: background-color 0.3s ease, color 0.3s ease;
}

body.theme-light {
  background-color: #f0f0f0;
  color: #292929;
}

body.theme-dark {
  background-color: #1e2023;
  color: #ffffff;
  width: 100%;
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5,
body.theme-dark h6,
body.theme-dark p,
body.theme-dark a,
body.theme-dark li,
body.theme-dark input,
body.theme-dark textarea,
body.theme-dark ::placeholder {
  color: #f0f0f0;
}

body.theme-dark input,
body.theme-dark textarea,
body.theme-dark button {
  background: #2a2d32;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}