/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

section {
  width: 360px;
  height: auto;
  margin: 0 auto;
  padding: 40px 20px;
}

@media only screen and (min-width: 768px) {
  section {
    width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 62px 32px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    padding: 82px 32px;
  }
}