 .faq-title {
     font-family: "Impact", sans-serif;
     font-weight: 400;
     font-size: 52px;
     line-height: 1.23077;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #292929;
     margin-bottom: 40px;
 }

 .question {
     color: #00b068;
 }

 .faq-list {
     list-style: none;
     padding: 0;
 }

 .faq-item {
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: row;
     gap: 16px;

     border-radius: 16px 16px 0 0;
     border-bottom: 1px solid var(--main-bcg);
     overflow: hidden;
 }

 .faq-question {
     border: none;
     border-bottom: 2px solid rgba(251, 251, 251, 0.1);
     width: 100%;
     cursor: pointer;
     align-items: center;
     text-align: left;
     transition: background-color var(--accent-cl) var(--cubic);
     display: flex;
     gap: 16px;

     background-color: transparent;
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-size: 18px;
     line-height: 1.55556;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #292929;
     text-transform: uppercase;
     color: var(--main-cl);
     padding: 28px 24px;
     padding-right: 80px;
     position: relative;
 }

 .faq-answer-p {
     font-family: "Poppins", sans-serif;
     font-weight: 300;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.03em;
     color: #292929;
 }

 .faq-item.open .faq-question {
     background-color: var(--second-bcg);
     border-radius: 16px 16px 0 0;
     background: #bcdfd1;
 }

 body.theme-dark .faq-item.open .faq-question {
     background: #204136;
 }

 body.theme-dark .faq-question {
     background: none;
 }

 .faq-item:hover {
     border-radius: 16px;
 }

 .faq-question.active {

     background-color: var(--second-bcg);
     border-bottom: none;
 }

 .faq-item:not(.open) .faq-question {
     border-radius: 0;
 }

 .faq-answer {
     display: none;
     padding: 0 24px 28px;

     background-color: var(--second-bcg);
     border-radius: 0 0 16px 16px;

     letter-spacing: 0.03em;
     color: var(--main-cl);
 }

 .faq-item.open .faq-answer {
     display: block;
     background: #bcdfd1;
 }

 body.theme-dark .faq-item.open .faq-answer {
     background: #204136;
 }

 .faq-answer.show {
     display: block;
 }

 .faq-arrow {
     position: absolute;
     transform: translateY(-50%) rotate(45deg);
     width: 10px;
     height: 10px;

     flex-shrink: 0;
     margin-left: 16px;
     top: 40px;
     right: 24px;

     border: solid #292929;


     border-width: 0 2px 2px 0;
     display: inline-block;
     transform-origin: center;
     transition: transform 0.3s;
 }

 body.theme-dark .faq-arrow {
     position: absolute;
     transform: translateY(-50%) rotate(45deg);
     width: 10px;
     height: 10px;

     flex-shrink: 0;
     margin-left: 16px;
     top: 40px;
     right: 24px;

     border: solid #f0f0f0;

     border-width: 0 2px 2px 0;
     display: inline-block;
     transform-origin: center;
     transition: transform 0.3s;
 }

 .faq-arrow.open {
     transform: translateY(-50%) rotate(225deg);
 }

 body.theme-dark .faq-arrow.open {
     transform: translateY(-50%) rotate(225deg);
 }

 /* ==========TABLET============ */

 @media screen and (min-width: 768px) {
     .faq-title {
         font-size: 108px;
         line-height: 1.15;
         letter-spacing: 0.02em;
         margin-bottom: 60px;
     }

     .faq-question {
         font-size: 20px;
         line-height: 1.6;
         padding-right: 100px;
     }
 }

 /* ====DESKTOP==== */

 @media screen and (min-width: 1280px) {
     .title-qth {
         display: flex;
         flex-direction: row;
         width: 520px;
     }

     .faq-content {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
     }

     .faq-list {
         width: 592px;
         margin-top: 276px;
         height: 744px;

     }

     .faq-question {
         justify-content: space-between;
     }

     .faq-content {
         position: relative;
         background-image: url('/img/faq/decor-bg-4-min.png');
         /* background-size: contain; */
         background-repeat: no-repeat;
         background-size: auto;
         background-position: bottom left;

     }
 }
