/* footer */
/* #region mobile version */

.footer-section {
  width: 360px;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-top: 1px solid #e2e2e2;
}

.footer-logo {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;

  margin-bottom: 32px;
}

.footer-logo-highlight {
  color: #00b068;
}

.footer-ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 87px;
  height: 168px;
  margin-bottom: 40px;
}

.footer-li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.footer-link:hover {
  color: #00b068;
}

.copyright-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #292929;
}

/* #endregion */

/* #region tablet version */

@media screen and (min-width: 768px) {
  .footer-section {
    width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
  }

  .footer-ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 412px;
    height: 24px;
  }

  .copyright-text {
    text-align: right;
  }
}

/* #endregion */

/* #region pc version */
@media screen and (min-width: 1280px) {
  .footer-section {
    width: 1280px;
    height: auto;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
  }

  .footer-logo-ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-ul {
    margin: 0;
  }
}

/* #endregion */