.container {
    margin: 0;
    padding: 0;
}

/* section {
    padding-top: 0;
} */

/* #region mobile version */
.hero-section {
    width: 360px;
    height: auto;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 40px;

    position: relative;
    background: url("/img/hero/hero-decor-bg-mobile-2x.png");
    background-size: contain;
    background-clip: content-box;
}

.hero-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;

    width: 320px;
    padding-top: 80px;
}

.hero-decor {
    display: none;
}

.hero-title-highlight {
    color: #00b068;
    width: 320px;
    align-items: start;
}

.lloyd-image {
    margin: 0 auto;
}

.hero-contact-ul {
    display: none;
}

.hero-bottom-peace {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 24px;
    padding: 32px 0px;
    width: 360px;
    height: 204px;
    background: #e4e5e6;
    right: 20px;
}

body.theme-dark .hero-bottom-peace {
    background: #2a2d32;
}

.hero-bottom-peace-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #292929;

    width: 320px;
}

.hero-bottom-peace-text-highlight {
    color: #00b068;
}

/* #region tablet varsion */
@media screen and (min-width: 768px) {
    .hero-section {
        width: 768px;
        padding-bottom: 62px;
    }

    .hero-title {
        font-family: "Impact", sans-serif;
        font-weight: 400;
        font-size: 124px;
        line-height: 1.16129;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #292929;

        width: 552px;
        margin-bottom: 416px;
        position: relative;
        z-index: 1;
    }

    .hero-decor {
        position: relative;
        bottom: 20px;
        display: block;
    }

    .developer-pic {
        flex-shrink: 0;
        position: absolute;
        bottom: 320px;
    }

    .lloyd-image {
        z-index: 2;
        margin: 0;
        margin-left: 363px;
        height: auto;
        width: auto;
        object-fit: contain;
        position: relative;
        z-index: 3;
    }

    .hero-bottom-peace {
        padding: 64px 32px;
        width: 768px;
        height: 320px;
        right: 32px;
    }

    body.theme-light .hero-bottom-peace {
        background: #e4e5e6;
    }

    body.theme-dark .hero-bottom-peace {
        background-color: #2a2d32;
    }


    .hero-bottom-peace-text {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.33333;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
        color: #292929;
        width: 704px;
    }
}

/* #region pc varsion */
@media screen and (min-width: 1280px) {
    .hero-section {
        width: 1280px;
        padding-bottom: 82px;
    }

    .hero-decor {
        width: 803px;
        height: 820px;
        position: relative;
        left: 406px;
        bottom: 130px;
        z-index: 0;
    }

    .hero-title {
        font-weight: 400;
        font-size: 136px;
        line-height: 1.14706;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #292929;
        width: 660px;
        margin-top: 192px;
        margin-bottom: 144px;
        position: relative;
        z-index: 3;
    }

    .lloyd-image {
        margin-left: 728px;
        position: relative;
        z-index: 0;
    }

    .hero-contact-ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        width: 411px;
        height: 24px;
        margin-bottom: 40px;

        position: relative;
        z-index: 10;
    }

    .hero-contact-li {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #292929;
    }

    .hero-contact-link {
        cursor: pointer;
    }

    .hero-contact-li:hover {
        color: #00b068;
    }

    body.theme-light .hero-contact-link:hover {
        color: #00b068;
    }

    body.theme-dark .hero-contact-link:hover {
        color: #00b068;
    }

    .hero-bottom-peace {
        padding: 120px 136px;
        width: 1280px;
        height: 384px;
    }

    .hero-bottom-peace-text {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.33333;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
        color: #292929;
        width: 1008px;
    }
}