.container {
    margin: 0;
    padding: 0;
}

/* work together */
/* #region mobile version */
.work-together-section {
    width: 360px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.work-together-text {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 40px;
}

.work-together-text-highlight {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #00b068;
}

.decor-bg {
    display: none;
}

.contact-me-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 32px;
}

.contact-ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.contact-li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}


.contact-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
}

.contact-text:hover {
    color: #00b068;
}

.icons-li {
    fill: none;
    stroke-width: 1px;
    stroke: #00b068;
}

.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.form-group {
    position: relative;
}

.email-form-work-together {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    border: none;
    padding: 16px;
    width: 320px;
    height: 48px;
    background: #e4e5e6;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    outline: none;

    padding-right: 30px;
}

.email-form-work-together.invalid {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #e74a3b;
}

.error-message {
    display: none;
    margin-top: 4px;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #e74a3b;
}

.validity-icon {
    display: none;
    position: absolute;
    left: 288px;
    top: 14px;
    bottom: 0;
    fill: #00b068;
    margin-right: 16px;
}

.message-form-work-together {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    border: none;
    padding: 16px;
    width: 320px;
    height: 128px;
    background: #e4e5e6;
    resize: none;
    outline: none;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    width: 320px;
    height: 48px;
    background: #00b068;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f0f0f0;
}



.btn-submit:hover {
    background: #009156;
}

body.theme-dark .btn-submit {
    background: #00b068;
    border: none;
}

body.theme-dark .btn-submit:hover {
    background: #009156;
}


/* body.theme-dark button {
    background: #00b068;
} */

/* #endregion */

/* #region tablet varsion */

@media screen and (min-width: 768px) {

    .work-together-section {
        width: 768px;
        height: auto;
        margin: 0 auto;
        padding: 62px 32px;
        padding-top: 62px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 124px;

    }

    .work-together-text {
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
        margin-bottom: 60px;
    }

    .work-together-text-highlight {
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
    }

    .title-svg {
        position: relative;
    }

    .decor-bg {
        display: block;
        position: absolute;
        bottom: 100px;
        right: 0;
        width: 336px;
        height: 260px;
        pointer-events: none;
    }

    .contact-me-text {
        font-size: 20px;
        line-height: 1.6;
        width: 500px;
    }

    .contact-ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;

        width: 639px;
        height: 24px;
        margin-bottom: 60px;
    }

    .input-wrapper {
        position: relative;
        display: inline-block;
    }

    .email-form-work-together {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        border-radius: 8px;
        padding: 16px;
        width: 704px;
        height: 48px;
        outline: none;
    }

    .validity-icon {
        left: 672px;
    }

    .message-form-work-together {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        border-radius: 8px;
        padding: 16px;
        width: 704px;
        height: 128px;
    }

    .btn-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 8px;
        padding: 12px 10px;
        width: 173px;
        height: 48px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: center;
        color: #f0f0f0;
    }
}

/* #endregion */

/* #region desktop version */
@media screen and (min-width: 1280px) {
    .work-together-section {
        width: 1280px;
        height: auto;
        padding: 82px 32px;
        padding-top: 82px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 164px;
    }

    .work-together-text {
        width: 515px;
        margin-bottom: 80px;
    }

    .decor-bg {
        width: 526px;
        height: 408px;
        bottom: -50px;
        right: -5px;
    }

    .contact-me-text {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #292929;
        margin-bottom: 120px;
    }

    .contact-ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
        width: 258px;
        height: 104px;
        margin: 0;
    }

    .contact-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 136px;
    }

    .cm-text-ul {
        width: 488px;
        height: auto;
    }

    .email-form-work-together {
        border-radius: 8px;
        padding: 16px;
        width: 592px;
        height: 48px;
    }

    .validity-icon {
        left: 560px;
    }

    .message-form-work-together {
        border-radius: 8px;
        padding: 16px;
        width: 592px;
        height: 128px;
    }
}

/* #endregion */

/* backdrop */
/* #region backdrop mobile version */

.no-scroll {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.8);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    z-index: 9999;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: hidden;
}

.backdrop.is-open~body {
    overflow: hidden;
}

body.theme-dark .backdrop.is-open {
    background: rgba(30, 32, 35, 0.8);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: hidden;
}

body.theme-dark .backdrop.is-open~body {
    overflow: hidden;
}

.container-message-submit {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* gap: 64px; */
    border: 1px solid #e4e5e6;
    border-radius: 16px;
    padding: 48px 32px;
    width: 320px;
    height: 328px;
    background: #f0f0f0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.theme-dark .container-message-submit {
    background: #2a2d32;
    border: none;
}

.btn-close {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

body.theme-dark .btn-close {
    border: none;
    background: #2a2d32;
}

.icon-close-modal {
    fill: #f0f0f0;
    border: none;
    stroke: #292929;
}

body.theme-dark .icon-close-modal {
    stroke: #f0f0f0;
    background: #2a2d32;
    border: none;
}

.title-modal {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #00b068;
    margin-bottom: 16px;
}

body.theme-dark .title-modal {
    color: #14c57c;
}

.text-modal {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #292929;
    width: 240px;
}

/* #region tablet varsion */
@media screen and (min-width: 768px) {
    .container-message-submit {
        border: 1px solid #f0f0f0;
        border-radius: 16px;
        padding: 64px;
        width: 492px;
        height: 280px;
    }

    .btn-close {
        top: 20px;
        right: 20px;
    }

    .title-modal {
        width: 364px;
    }

    .text-modal {
        width: 355px;
    }
}

/* #endregion */